/**
 * Shop System Plugins - Terms of Use
 *
 * The plugins offered are provided free of charge by Wirecard Central Eastern Europe GmbH
 * (abbreviated to Wirecard CEE) and are explicitly not part of the Wirecard CEE range of
 * products and services.
 *
 * They have been tested and approved for full functionality in the standard configuration
 * (status on delivery) of the corresponding shop system. They are under General Public
 * License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
 * the same terms.
 *
 * However, Wirecard CEE does not provide any guarantee or accept any liability for any errors
 * occurring when used in an enhanced, customized shop system configuration.
 *
 * Operation in an enhanced, customized configuration is at your own risk and requires a
 * comprehensive test phase by the user of the plugin.
 *
 * Customers use the plugins at their own risk. Wirecard CEE does not guarantee their full
 * functionality neither does Wirecard CEE assume liability for any disadvantages related to
 * the use of the plugins. Additionally, Wirecard CEE does not guarantee the full functionality
 * for customized shop systems or installed plugins of other vendors of plugins within the same
 * shop system.
 *
 * Customers are responsible for testing the plugin's functionality before starting productive
 * operation.
 *
 * By installing the plugin into the shop system the customer agrees to these terms of use.
 * Please do not use the plugin if you do not agree to these terms of use!
 */

label.wcs-chkbx-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

label.wcs-chkbx-switch > input { display: none; }

label.wcs-chkbx-switch > div.wcs-chkbx-switch-slider {
    position: absolute;
    cursor: pointer;
    cursor: hand;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

label.wcs-chkbx-switch > div.wcs-chkbx-switch-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

label.wcs-chkbx-switch > input + div.wcs-chkbx-switch-slider { background-color: #ccc; }

label.wcs-chkbx-switch > input:checked + div.wcs-chkbx-switch-slider { background-color: #8FBC3B; }

label.wcs-chkbx-switch > input:checked + div.wcs-chkbx-switch-slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

nav.wcs-tabs > a, nav.wcs-tabs > a:active, nav.wcs-tabs > a:focus { background-color: #f8f8f8; }

nav.wcs-tabs > a:hover { background-color: #fff; }

nav.wcs-tabs > a.nav-tab-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content.panel {
    margin-top: -13px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    padding: 20px 20px;
}

.tab-content.panel > .tab-pane { display: none; }

.tab-content.panel > .tab-pane.active { display: block; }

div.woo-wcs-settings-header-wrapper {
    margin: auto;
    min-width:200px;
    max-width:1024px;
}

div.woo-wcs-settings-header-wrapper p:first-of-type {
    text-transform: uppercase;
}